.btn {
  padding: 1.125rem 2.5rem;
  border-radius: 1rem;
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.21px;
  line-height: 21px;
}
.btn-round-lg {
  border-radius: 1.406rem;
}
.btn-round {
  border-radius: 1.063rem;
}
.btn-round-sm {
  border-radius: 0.938rem;
}
.btn-round-xs {
  border-radius: 0.688rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
.btn-round-md {
  border-radius: 1.4rem;
}
