.sidebar {
  height: auto;
  width: auto;
  font-size: 20px;
  font-weight: 800;
  padding-top: 6rem;
}
/* 
.navlink {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  padding-right: 10px;
  text-align: center;
} */
