.background {
  margin-top: 185px;
  background-color: hsl(0, 0%, 96%);
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
}
.spansiz {
  background: skyblue;
  border-radius: 50%;
  padding: 5px;
  font-size: 24px;
}
