.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.backgroundV {
  background-image: linear-gradient(45deg, #e01e89, #e76427);
}
.font-size_left-pane_list-item {
  color: #676d77;
  font-family: "Gilroy";
  font-size: 18px;
  letter-spacing: -0.04px;
  line-height: 45px;
}
.font-size__left-pane_l1-heading {
  color: #676d77;
  font-family: "Gilroy";
  font-size: 21px;
  font-weight: 500;
  letter-spacing: -0.45px;
  line-height: 26px;
}
.font-size__left-pane_l1_sub--heading {
  color: #676d77;
  font-family: "Gilroy";
  font-size: 13px;
  letter-spacing: -0.28px;
  line-height: 19px;
}
.left_pane {
  /* background: white; */
}
.right_pane {
  background-color: #f8f9fa;
}
iframe {
  width: 56rem;
  height: 40rem;
}
.padding {
  padding: 0rem;
  margin: 0.5rem;
}
.modal-body {
  padding: 2rem !important;
  text-align: center;
}
.flex_con {
  display: flex;
  justify-content: space-around;
}
.flex_con > p {
  margin-bottom: 0.5rem;
}
.flex_col {
  display: flex;
  flex-direction: column;
}
.flex_col > p {
  margin-bottom: 0.5rem;
}
